server {
    listen 80;
    server_name server_domain_or_IP; 

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root /home/user/project_dir_with_static_files;
    }

    location / {
        if ($http_user_agent ~* "Chrome") {
            return 499;
        }
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;

    }
}
